      <ion-view id="userMessagesView"
          cache-view="false"
          view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i> <div class='msg-header-username'>{{toUser.username}}</div>">


      <ion-header-bar class="bar-stable">
        <button ng-click="goBack()" class="button button-icon icon ion-ios-arrow-back"></button>
        <h1 class="title">
          Peter
        </h1>
      </ion-header-bar>
<br>
<br>


                       <img ng-click="viewProfile(message)" class="profile-pic right"
                          ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />

                      <div class="chat-bubble right">


                          <div class="message-detail">
                              <span ng-click="viewProfile(message)"
                                  class="bold">You</span>
                              <span am-time-ago="message.date">2s ago</span>
                          </div>

                          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                          <span style="font-style: italic;">You sent a request for Milk.</span>
                          </div>
                      </div>

                                            <div class="chat-bubble left">


                          <div class="message-detail">
                              <span ng-click="viewProfile(message)"
                                  class="bold">Peter</span>
                              <span am-time-ago="message.date"></span>
                          </div>
                          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                            Just stop by. But hurry, I need to leave in 10 min. But no problemo.
                          </div>

                      </div>
                  </div>

                  <div class="cf"></div>

          </ion-content>

          <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
              <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
                  <label class="item-input-wrapper">
                      <textarea ng-model="input.message" value="" placeholder="Send {{toUser.username}} a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
                  </label>
                  <div class="footer-btn-wrap">
                    <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                    </button>
                  </div>
              </ion-footer-bar>
          </form>

      </ion-view>
