<ion-view title="Search" id="search" class=" ">


  <ion-pane class="title-10">


      <ion-header-bar class="bar-stable">
        <button ng-click="goBack()" href="/welcome" class="button button-icon icon ion-ios-arrow-back"></button>
        <h1 class="title">
          Search
        </h1>
      </ion-header-bar>



    <ion-content>
    <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>

    <label ng-click="go('/categories')" class="item">Food</label>
    <label class="item">Rentals</label>
    <label class="item">Other</label>

    </div>
</ion-content>
  </ion-pane>
  </ion-view>
