<ion-view title="Contacts" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="contacts-list1" class=" ">
            <ion-item class="item-avatar  " id="contacts-list-item4">
                <h2>Peter</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="contacts-list-item5">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="contacts-list-item6">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>