

    <ion-pane class="title-10">
      <ion-header-bar class="bar-stable">
        <button ng-click="goBack()" class="button button-icon icon ion-ios-arrow-back"></button>
        <h1 class="title">
          Food
        </h1>
      </ion-header-bar>
    <ion-content>
    <div class="row">

    <div class="card col" ng-click="go('')" style="background-image: url('/images/food/r-003.jpg');">
      <div class="item item-text-wrap">
        Sugar
      </div>
    </div>
        <div class="card col" style="background-image: url('/images/food/r-000.jpg');">
      <div class="item item-text-wrap">
        Bread
      </div>
    </div>

  </div>

      <div class="row">

    <div ng-click="go('/gotmilk')" cl style="background-image: url('/images/food/r-002.jpg');" class="card col">
      <div class="item item-text-wrap">
        Milk
      </div>
    </div>
        <div class="card col" style="background-image: url('/images/food/r-004.jpg');">
      <div class="item item-text-wrap">
        Cereals
      </div>
    </div>

  </div>

      <div class="row">

        <div class="card col" style="background-image: url('/images/food/r-001.jpg');">
      <div class="item item-text-wrap">
        flour
      </div>
    </div>

  </div>


</ion-content>
  </ion-pane>
