<ion-view title="Lend from...">

    <ion-pane class="title-10">
      <ion-header-bar class="bar-stable">
        <button ng-click="goBack()" class="button button-icon icon ion-ios-arrow-back"></button>
        <h1 class="title">
          Food
        </h1>
      </ion-header-bar>
    <ion-content>
     <br>
<h3>Lend</h3>
     <div class="card col" style="background-image: url('images/food/r-003.jpg'); background-size: 100%;">
      <div class="item item-text-wrap">
        Sugar
      </div>
  </div>
<h3>from</h3>
         <ion-list id="contacts-list1" class=" ">
            <ion-item ng-click="go('/chat')" class="item-avatar" id="contacts-list-item4">
                <img src="images/avatar1.jpg" alt="">
                <h2>Peter</h2>
            </ion-item>
            <ion-item class="item-avatar" id="contacts-list-item5">
                <img src="images/avatar2.jpg" alt="">
                <h2>Julian</h2>
            </ion-item>
            <ion-item class="item-avatar" id="contacts-list-item6">
                <img src="images/avatar3.jpg" alt="">
                <h2>Silke</h2>
            </ion-item>
        </ion-list>

</ion-content>
  </ion-pane>
</ion-view>
