<ion-view title="nbshare Welcome">
    <ion-pane class="welcome">
      <ion-content scroll="false">
        <img src="images/13180-NOP5TM.jpg" alt="" style="width: 100%;">
          <button ng-click="go('contacts')" class="button-icon left ion-email"></button>
          <button ng-click="go('add')" class="button-icon right ion-plus"></button>
          <button ng-click="go('search')" class="button-icon middle ion-search"></button>
      </ion-content>
    </ion-pane>
</ion-view>

<script>

</script>
